{% extends 'base.html.twig' %}

{% block title %}Keyword Uploader{% endblock %}

{% block body %}
<h1 class="mt-4 mb-3">Keywords Input</h1>

<div class="row">
    <div class="col-lg-8 mb-4">
    {% set errors = app.flashes('error') %}
    {% set successes = app.flashes('success') %}
    
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for message in errors %}
            <li>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if successes %}
    <div class="alert alert-success" role="alert">
        {% for message in successes %}
            <li>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}

    <h3></h3>
    {{ form_start(form) }}
        {{ form_row(form.keyword_file) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}
    </div>

</div>
{% endblock %}